@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";

:root {
  --primary-color: #6daddc;
  --secondary-color: #157e53;
  --accent-color: #fdc914;
}

.box {
  width: 100%;
  height: 100%;
}

.box:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; /* Adjust the duration and easing as needed */
}
